/* Reset Dasar: Menghapus jarak bawaan browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Styling Header/Navbar */
header {
    background-color: #004aad; /* Warna Biru Khas IT */
    color: white;
    padding: 1rem 0;
}

.container {
    width: 90%;
    margin: auto;
    display: flex; /* Membuat logo dan menu sejajar (kiri-kanan) */
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none; /* Menghilangkan garis bawah link */
    font-weight: bold;
}

/* Styling Hero Section */
.hero {
    background-color: #f4f4f4;
    height: 80vh; /* Tinggi 80% dari layar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* Styling Tombol */
.btn {
    display: inline-block;
    background: #004aad;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #003380; /* Warna berubah saat mouse diatasnya */
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}